<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% extends "base.html" %}
{% comment %} note this is temp, will need to make new project for dbs
and all that type shit {% endcomment %}

{% block title %}Home{% endblock title %}

{% block content %}

{% comment %} new stuff here {% endcomment %}
<body class="w3-light-grey">

    <!-- Navigation bar with social media icons -->
    
    {% comment %} <div class="w3-bar w3-black w3-hide-small"> {% endcomment %}
  
      
      
    {% comment %} </div>  {% endcomment %}


    <!-- w3-content defines a container for fixed size centered content, 
    and is wrapped around the whole page content, except for the footer in this example -->
    <div class="w3-content" style="max-width:1600px">

        <!-- Header -->
        <header class="w3-container w3-center w3-padding-48 w3-white">
        <h1 class="w3-xxxlarge"><b>UMT Tutors</b></h1>
        {% comment %} <h6>Welcome to the blog of <span class="w3-tag">Jane's world</span></h6> {% endcomment %}
        </header>
    </div>

    <!-- 
    <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Our Tutors</h4>
        </div>
  
        <div class="row">

        </div>
    </div>
    -->
    
    <!-- list users here -->
    
</body>

{% endblock content %}
</html>

